body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* background-color: black; */
}

.weather_card{
    width: 50%;
    height: 70vh;
    border: 2px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather_body{
    width: 50%;
    height: 70vh;
    border: 2px solid red;
    border-radius: 10px;
}

.border{
    border: 2px solid black;
}