body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 50px;
    background-image: url('./images/bg_img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.weather_card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    width: 30%;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.3) black;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    margin-right: 0;
    padding: 25px;
}

.search_inp_div {
    width: 94%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0;
    height: auto;
}

.search_inp {
    width: 85%;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 20px;
}

.search_btn {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
}

.icon_dsc {
    font-size: 20px;
    font-weight: bold;
}

.info {
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-bottom: 1px solid black;
    padding: 50px 0;
}

.info_ch {
    display: flex;
    justify-content: space-between;
}

.city_temp {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    width: 34%;
    border: 1px solid rgba(255, 255, 255, 0.1) black;
    border-radius: 12px;
    margin-left: 90px;
    margin-top: 150px;
    height: 40%;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.temp {
    height: 70px;
    font-size: 60px;
    margin-right: 5px;
}

.loc_div {
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.loc {
    font-size: 30px;
    margin-bottom: 0;
}

.icon_div {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.icon {
    padding: 0;
    font-size: 50px;
    margin-bottom: 0;
}